@media screen and (max-width: 1200px) and (min-width: 992px){
  .space{
    font-family: Metropolis-Bold;
    font-size: 38px;
  }
  .form-l{
    font-family: Metropolis-Bold;
    font-size: 26px;
    text-align: center;
    /* margin: 1rem 20rem; */
}
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .bootstrap-media .row {
        display: flex;
        flex-wrap: wrap;
    }
    .navbar-toggler{
        display: block ;
    }
    .form-l{
        font-family: Metropolis-Bold;
        font-size: 36px;
        text-align: center;
        margin:0rem;
    }
    .qubly-text{
        text-align: center;
        font-size: 16px;
        font-family:Metropolis-Medium ;
        margin:0rem;
    }
    .img-chart{
        width: 500px;
    }
    .even-easy{
        text-align: left;
        padding: 0;
        font-family: Metropolis-Medium;
        font-size: 21px;
    }
    .product-text p{
        font-size: 16px;
        font-family:Metropolis-Medium ;
        margin-left: 0rem;
    }
    .data{
        font-family: Metropolis-Bold;
        font-size: 36px;
        margin: 0;
    }
}
@media(max-width:768px){
    .form-l{
        font-family: Metropolis-Bold;
        font-size: 36px;
        text-align: center;
        margin:0rem;
    }
    .qubly-text{
        text-align: center;
        font-size: 16px;
        font-family:Metropolis-Medium ;
        margin:0rem;
    }
    .img-chart{
        width: 500px;
    }
    .even-easy{
        text-align: left;
        padding: 0;
        font-family: Metropolis-Medium;
        font-size: 21px;
    }
    .product-text p{
        font-size: 16px;
        font-family:Metropolis-Medium ;
        margin-left: 0rem;
    }
    .data{
        font-family: Metropolis-Bold;
        font-size: 36px;
        margin: 0;
    }
    .bootstrap-media .row {
        display: block;
        flex-wrap: wrap;
    margin-left: 5rem;
    }
    .section-five .row{
        display: block;
    }
    .cont-contant .row{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media(max-width:576px){
    .form-l{
        font-family: Metropolis-Bold;
        font-size: 36px;
        text-align: center;
        margin:0rem;
    }
    .qubly-text{
        text-align: center;
        font-size: 16px;
        font-family:Metropolis-Medium ;
        margin:0rem;
    }
    .img-chart{
        width: 500px;
    }
    .even-easy{
        text-align: left;
        padding: 0;
        font-family: Metropolis-Medium;
        font-size: 21px;
    }
    .product-text p{
        font-size: 16px;
        font-family:Metropolis-Medium ;
        margin-left: 0rem;
    }
    .data{
        font-family: Metropolis-Bold;
        font-size: 36px;
        margin: 0;
    }
    footer{
        display: none;
    }
    .cont-contant .row{
        display: flex;
        flex-direction: column-reverse;
    }
}

